<div class="panel panel-default">
	<div class="panel-body">
		<div class="clearfix">
			<div class="pull-left">
				<h5>
					<a href="/#/{{ comment.id }}">
						#{{ comment.id }}
					</a> by
					<small>
						{{ comment.name }}
						<div ng-if="comment.email">
							({{ comment.email }})
						</div>
					</small>
				</h5>
			</div>
		</div>

		{{ comment.body }}
		<hr>
		<h5 class="modal-heading"><small>
			<a href=""
				ng-click="delete(comment.id)">Delete</a>
		</small></h5>
	</div>
</div>