<div ng-repeat="comment in comments"
	class="panel panel-default">

	<div class="panel-body">
		<div class="clearfix">
			<div class="pull-left">
				<h5>
					<a href="/#/{{ comment.id }}">
						#{{ comment.id }}
					</a> by
					<small>
						{{ comment.name }}
						<div ng-if="comment.email">
							({{ comment.email }})
						</div>
					</small>
				</h5>
			</div>
		</div>

		{{ comment.body }}
		<hr>
		<h5 class="modal-heading"><small>
			<a href=""
				ng-click="delete(comment.id)">Delete</a>
		</small></h5>
	</div>
</div>

<hr>
<h3> Submit your Comment! </h3>
<pre> {{ commentData}} </pre>
<form ng-submit="submit()">
	<div class="form-group">
		<label> Name </label>
		<input type="text"
			ng-model="commentData.name"
			placeholder="Name.."
			class="form-control">
	</div>

	<div class="form-group">
		<label> Email </label>
		<input 
			type="email"
			ng-model="commentData.email"
			placeholder="..@..com"
			class="form-control">
	</div>

	<button type="submit" class="btn btn-success">G#</button>

	<div class="form-group">
		<label> Body </label>
		<textarea ng-model="commentData.body"
			class="form-control">
	</div>
</form>